<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
    <script src="/jquery/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>StreetUP</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🥊</text></svg>">
</head>

<body>
    <header>
        <div class="banner">
            <form id="startForm">
                <img src="/img/StreetUP.png" alt="StreetUP title" class="title">
                <h1>🥊&nbsp;&nbsp;&nbsp;⚔️&nbsp;&nbsp;&nbsp;💉</h1>
                <p class="label">Your Characters Name:</p>
                    <input class="form-control" id="charName" autocomplete="off" placeholder="zark muckerburg" style="text-align: center;" required />
                    <br>
                    <p class="label">Your character Description:</p>
                    <input class="form-control" id="charDesc" autocomplete="off" placeholder="A Javascript wizard" style="text-align: center;" required />
                    <br>
                    <button type="submit" class="btn btn-dark">Let's Fight</button>
                    <br><br>
                    <details class="rules">
                        <summary>Rules:</summary>
                        <ol>
                            <li>Create character</li>
                            <li>For each question submit your answer</li>
                            <li>Votes are converted to points</li>
                            <li>Player with the most points will be the victor</li>
                        </ol>
                    </details>
            </form>
            <!-- <audio controls loop id="shoe"
                src="https://download1519.mediafire.com/0f4iq8cgthng/5ca7kpuymrnt5xo/shoes.mp3"></audio> -->
        </div>
    </header>
    
    <section class="hidden waitingRoom">
        <div id="withinContainer" class="container">
            <h1 id="waitingStatus" class="waitTitle">Waiting for other players.</h1>
            <p id="specCount" class="waitTitle"></p>
            <div class="waitTitle" id="buttonSpot"></div>
        </div>
    </section>
    <div id="hiddenRoundOne" class="hidden">
        <div id ="roundOne" class="container" >
            <h1 id = "questionOneName"></h1>
            <form id="questionOneForm">
                <label for="answerOne">Answer:</label>
                <input class="form-control" id="answerOne" autocomplete="off" placeholder="Answer here..." style="text-align: center;" required />
                <button type="submit" id="questionOneSubmit">Submit Answer!</button>
            </form>
        </div>
    </div>
    <div id="hiddenVoteOne" class="hidden">
        <div id="votingOne" class="container">
            <h1>Vote on which answer is best!</h1>
            <h6>One click, One vote!!</h6>
            <div id="selectableAnswers"></div>
        </div>
    </div>
    <div class="noWhiteSpace"></div>
    <div id ="hiddenScoreBoard" class ="hidden">
        <div id="scoreBoard" class ="container">
            <h3>Leaderboard</h3>
            <hr/>
            <ol id="leaderBoard">
            </ol>
        </div>
    </div>
    
    <div id="hiddenRoundTwo" class="hidden">
        <div id ="roundTwo" class="container" >
            <h1 id = "questionTwoName"></h1>
            <form id="questionTwoForm">
                <label for="answerTwo">Answer:</label>
                <input class="form-control" id="answerTwo" autocomplete="off" placeholder="Answer here..." style="text-align: center;" required />
                <button type="submit" id="questionTwoSubmit">Submit Answer!</button>
            </form>
        </div>
    </div>
    <div id="hiddenVoteTwo" class="hidden">
        <div id="votingTwo" class="container">
            <h1>Vote on which answer is best!</h1>
            <h6>One click, One vote!!</h6>
            <div id="selectableAnswers2"></div>
        </div>
    </div> 
    <div class="noWhiteSpace"></div>
    <div id ="hiddenScoreBoardTwo" class ="hidden">
        <div id="scoreBoardTwo" class ="container">
            <h3>Leaderboard</h3>
            <hr/>
            <ol id="leaderBoardTwo">
            </ol>
        </div>
    </div>
    
    <div id="hiddenFinalRound" class="hidden">
        <div id ="finalRound" class="container" >
            <h1 id = "finalQuestionName"></h1>
            <form id="finalQuestionForm">
                <label for="finalAnswer">Answer:</label>
                <input class="form-control" id="finalAnswer" autocomplete="off" placeholder="Answer here..." style="text-align: center;" required />
                <button type="submit" id="finalQuestionSubmit">Submit Answer!</button>
            </form>
        </div>
    </div>
    <div id="hiddenFinalVote" class="hidden">
        <div id="finalVoting" class="container">
            <h1>Vote on which answer is best!</h1>
            <h6>One click, One vote!!</h6>
            <div id="finalSelectableAnswers"></div>
        </div>
    </div> 
    <div class="noWhiteSpace"></div>
    <div id ="hiddenFinalScoreBoard" class ="hidden">
        <div id="finalScoreBoard" class ="container">
            <h3>Leaderboard</h3>
            <hr/>
            <ol id="finalLeaderBoard">
            </ol>
            <div class="winner">
            </div>
        </div>
    </div>
    </div>

    

</body>

<script src="/js/scripts.js" type="text/javascript"></script>

</html>