body {
  margin: 0;
  padding: 0;
  border: 0;
  background: rgb(248, 72, 94);
  background: linear-gradient(
    90deg,
    rgba(248, 72, 94, 1) 0%,
    rgba(81, 45, 109, 1) 76%
  );
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-bottom: 0 auto;
  padding-bottom: 0 auto;
}

.hidden {
  display: none;
}

h1 {
  font-size: 4em;
}

#input {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
}

audio {
  margin-top: 1em;
  padding-top: 1em;
}

#shoe {
  display: none;
}

.waitingRoom {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding-top: 0;
  margin-top: 0;
  display: none;
}

.waitTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 1em;
  color: white;
}

#playerCards li {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 2px solid white;
  padding: 1em;
  margin-left: 7em;
  margin-top: 5em;
  width: 33vw;
  max-width: 750px;
  float: left;
  color: white;
  background: transparent;
  /* backdrop-filter: blur(60px); */
  border-radius: 0.50em;
}

.title,
.rules{
  color: white;
}

.label{
  color: white;
  font-weight: bold;
}
