body {
  margin: 0;
  padding: 0;
  border: 0;
  /* background: linear-gradient(
    90deg,
    rgba(248, 72, 94, 1) 0%,
    rgba(81, 45, 109, 1) 76%
  ); */
}

.banner {
  display: flex;
  background-image: url("../img/shutterstock_1061954495.jpg");
  background-size: 80%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-bottom: 0 auto;
  padding-bottom: 0 auto;
}

.hidden {
  display: none;
}

h1 {
  font-size: 4em;
}

#input {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
}

audio {
  margin-top: 1em;
  padding-top: 1em;
}

#shoe {
  display: none;
}

.rules {
  border:1px solid navy;
  background:darkslategray;
  border-radius: 0.50em;
}

.waitingRoom {
  background-image: url("../img/waitingRoom.jpg");
  background-size: 80%;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding-top: 0;
  margin-top: 0;
  display: none;
}

.waitTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 1em;
  color: white;
}

#playerCards {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top:1em;
}

#playerCards li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  float:left;
  margin-left:2em;
  margin-top:2em;
  border: 2px solid white;
  padding: 1em;
  width: 33vw;
  height:20vh;
  float: left;
  color: white;
  background: transparent;
  /* backdrop-filter: blur(60px); */
  border-radius: 0.50em;
}


.rules li {
  text-align: start;
}

.title,
.rules {
  color: white;
}

.label  {
  color: white;
  font-weight: bold;
}

#roundOne, 
#roundTwo, 
#finalRound {
  display:flex;
  flex-direction: column;
  width:100vw;
  height:100vh;
}

#hiddenRoundOne, 
#hiddenRoundTwo,
#hiddenFinalRound {
  background-image: url("../img/roundBack.jpg");
  background-size: 100%;
  color:rgb(32, 53, 53);
}

#questionOneForm, 
#questionTwoForm, 
#finalQuestionForm {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#questionOneSubmit, 
#questionTwoSubmit, 
#finalQuestionSubmit {
  margin-top:2em;
  align-items: center;
  width:50%;
  border-radius: 0.50em;
  background: rgb(124, 68, 124);
  color:white;
}

#hiddenVoteOne,
#hiddenVoteTwo,
#hiddenFinalVote {
  background-image: url("../img/votingBG.jpg");
  background-size: 100%;
}

#votingOne, 
#votingTwo, 
#finalVoting {
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  color:white;
  font-family: 'Josefin Sans', sans-serif;
}

#selectableAnswers, 
#selectableAnswers2, 
#finalSelectableAnswers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width:80vw;
}

#selectableAnswers button, 
#selectableAnswers2 button {
  margin-bottom:0;
}

#selectableAnswers button, 
#selectableAnswers2 button, 
#finalSelectableAnswers button {
  text-align: center;
  border: 2px solid rgb(219, 62, 177);
  padding: 0.5em;
  margin-left: 1em;
  margin-top: 1em;
  width: 50vw;
  max-width: 750px;
  height:14vh;
  float: left;
  color: rgb(219, 62, 177);
  background: linear-gradient(to right,rgb(219, 62, 177), rgb(65, 182, 230) ); 
  border-radius: 0.50em;
}

#hiddenScoreBoard,
#hiddenScoreBoardTwo,
#hiddenFinalScoreBoard {
  background-image: url("../img/votingBackground.jpg");
  background-size: 100%;
  height: 100vh;
  width:100vw;
  margin-top: 0;
}

#scoreBoard, 
#scoreBoardTwo,
#finalScoreBoard {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border:1px solid white;
  margin-top: 5em;
  height:50vh;
  width:50vw;
  background:darkslategrey;
  color:white;
  font-size: larger;
  font-weight: 200;
}

#gameWinner {
  font-family: 'Courier New', Courier, monospace;
  font-weight:400;
  margin-top:1.5em;
}

.noWhiteSpace {
  margin-bottom: 0;
}